@import url('https://fonts.googleapis.com/css?family=Almarai:300,400,700,800');

*, *:after, *:before {
  font-family: 'Almarai';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------NAV---------*/
html {
  /* height: 100%; */
  background-repeat: repeat;
  background-attachment:scroll;
  background: rgb(255,255,255);
}

main{

}

body {

  /* height: 100%; */
  transition: 0.2s;
}

svg {
  margin-top: 5px;
  border-radius: 3px;
}

.subtitulos {
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 29px;
  /*font-weight: bold;*/
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.subtitulos:hover {
  transition: background-color 0.2s ease-out;
}

/* ---------------NAV BAR DE CIMA-------------- */
.topnavbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  display: inline-flex;
  position: fixed;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  z-index: 3;
}

#titulo {
  /*postalizer titulo*/
  width: 60%;
  height: 100%;
  font-weight: 700;
  font-size: 3em;
  padding-left: 20px;
  padding-top: 2px;
  letter-spacing: 3px;
  /*word-spacing: 4px;*/
}

#titulo:hover {
  background-color: black;
  color: white;
  transition: background-color 0.2s ease-out;
}

#search {
  width: 40%;
  height: 100%;
  border-left: 1px solid #000000;
  padding-top: 5px;
  align-items: center;
  justify-content: space-around;
}

.topnavbar input[type=text] {
  position: relative;
  color: black;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  transition: width 0.4s ease;
  outline: none;
  border-bottom: 2px solid black;
}

.topnavbar input[type=text]:hover {}

/* ---------------NAV BAR DE BAIXO-------------- */
.bottomnavbar {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  position: fixed;
  /*flex-direction: row;*/
  flex-wrap: nowrap;
  align-items: center;
  /* border: 1px solid #000000; */
}

.abertostyle {
  overflow-y: scroll;
}

.abertostyle:hover {
  overflow-y: scroll;
}



/* #defaultCanvas0{
  display: none;
} */
