#canvas {
  width: 300;
  height: 300;
  background-color: red;
}

@font-face {
  font-weight: bold;
  font-family: 'HelveticaNeue';
  src: url('assets/HelveticaNeue-01.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  font-family: 'HelveticaNeue';
}

h1 {
  font-family: 'HelveticaNeue';
}
