@font-face {
  font-family: 'HelveticaNeue';
  font-weight: lighter;
  src: url('assets/HelveticaNeue-Bold-02.ttf') format('truetype');
}

*{
  padding: 0;
  margin: 0;
  font-family: 'HelveticaNeue';
  font-weight: lighter;
}

h1 {


}

#{

}
